
[user]
	email = palfrey@tevp.net
	name = Tom Parker-Shemilt

[alias]
	ca=commit -a
	co=checkout
	ci=commit
	st=status
	up = pull --rebase
	push-this=push -u origin HEAD
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

[core]
	excludesfile = ~/.gitignore
	pager = diff-highlight | less -r

[github]
	user = palfrey
[push]
	default = upstream
