.*.swp
*.pyc
*.[oa]
*~
.history*
.xsession-errors
Desktop
.wine
.AbiSuite
.ICEauthority
.Skype
.VirtualBox
.Xauthority
.adobe
.amazonmp3
.android
.appcfg_cookies
.appcfg_nag
.appdata
.aptitude
.asoundrc
.aspell.en.prepl
.aspell.en.pws
.autojump_py
.awssecret
.bazaar
.bluefish
.bzr.log
.cache
.config
.cshrc
.cups
.cvsps
.dbus
.ddd
.debug.keystore
.dmrc
.eclipse
.elinks
.email
.*.lock
.esd_auth
.evolution
.folderrotate
.*.log
.fontconfig
.forward
.fullcircle
.gammurc
.garagegames
.gconf
.gconfd
.get_iplayer
.gftp
.gimp-2.2
.gimp-2.4
.gitprivate
.gksu.lock
.glade2
.gnashrc
.gnome
.gnome2
.gnupg
.gnuplot-wxt
.gphoto
.gstreamer-0.10
.gtk-bookmarks
.gtkpod
.gtkrc-1.2-gnome2
.heroku
.hidden
.hpodder
.icons
.inkscape
.java
.jtag
.kchmviewer
.kde
.kde3
.kderc
.lesshst
.login
.lyx
.macromedia
.matlab
.matplotlib
.mcop
.mcoprc
.metacity
.minirc.dfl
.mozilla*
.mplayer
.multisync
.mupen64plus
.nautilus
.nemiver
.notifier.conf
.odbc.ini
.offlineimap
.openoffice.org2
.opensync
.opera
.picasa
.pki
.prism
.ptxdistrc.1.99.17
.pulse-cookie
.pulse
.purple
.python-eggs
.qt
.recently-used
.recently-used.xbel
.registry
.rescuetime
.sqlite_history
.ssh
.subversion
.tersus
.texmf-var
.themes
.thumbnails
.thunderbird
.tomboy
.update-manager-core
.update-notifier
.viminfo
.vlc
.vmware
.vnc
.wapi
.windows-label
.wishname
.zcompdump
Firefox_wallpaper.png
IMAP
That Cern thing explained.pdf
WINDOWS
WindowsDocuments
calendar.user.js
data
documents
experiments
fex_spi.cfdg
firefox
gpml-matlab
papers
pervasive
public-key
public_html
src
wsn
.local
