.*.swp
*.pyc
*.[oa]
*~
.history*
.xsession-errors*
Desktop
.wine
.AbiSuite
.ICEauthority
.Skype
.VirtualBox
.Xauthority
.adobe
.amazonmp3
.android
.appcfg_cookies
.appcfg_nag
.appdata
.aptitude
.asoundrc
.aspell.en.prepl
.aspell.en.pws
.autojump_py
.awssecret
.bazaar
.bluefish
.bzr.log
.cache
.cshrc
.cups
.cvsps
.dbus
.dropbox*
.ddd
.debug.keystore
.dmrc
.eclipse
.elinks
.email
.*.lock
.esd_auth
.evolution
.folderrotate
.*.log
.fontconfig
.forward
.fullcircle
.gammurc
.garagegames
.gconf
.gconfd
.get_iplayer
.gftp
.gimp-2.2
.gimp-2.4
.gitprivate
.gksu.lock
.glade2
.gnashrc
.gnome
.gnome2
.gnupg
.gnuplot-wxt
.gphoto
.gstreamer-0.10
.gtk-bookmarks
.gtkpod
.gtkrc-1.2-gnome2
.heroku
.hidden
.hpodder
.icons
.inkscape
.java
.jtag
.kchmviewer
.kde
.kde3
.kderc
.lesshst
.login
.lyx
.macromedia
.matlab
.matplotlib
.mcop
.mcoprc
.metacity
.minirc.dfl
.mozilla*
.mplayer
.multisync
.mupen64plus
.nautilus
.nemiver
.notifier.conf
.odbc.ini
.offlineimap
.openoffice.org2
.opensync
.opera
.picasa
.pki
.prism
.ptxdistrc.1.99.17
.pulse-cookie
.pulse
.purple
.python-eggs
.qt
.recently-used
.recently-used.xbel
.registry
.rescuetime
.sqlite_history
.ssh
.subversion
.tersus
.texmf-var
.themes
.thumbnails
.thunderbird
.tomboy
.update-manager-core
.update-notifier
.viminfo
.vlc
.vmware
.vnc
.wapi
.windows-label
.wishname
.zcompdump
.local
.gvfs
/Dropbox/
/Library/
/Music/
/Movies/
/Applications/
.compiz
.mission-control
/Downloads/
.remmina
.bash_history
.lein
.mono
.pip
.m2
.lighttable
.apport-ignore.xml
.bashrc
.bash_logout
.bash_history
.profile
.skype-wrapper

.mateconf
.mateconfd
.mate2
.linuxmint
.DS_Store
.ansible/
.IdeaIC15/
.LUFTRAUSERS/
.PyCharm50/
.Trash/
.anyconnect
.aws/
.azure/
.berkshelf/
.bundle/
.bundler/
.cargo/
.chefdk/
.cisco/
.cmake/
.cocoapods/
.composer/
.conda/
.cordova/
.cpan/
.dart/
.dartServer/
.dg/
.docker/
.dotnet/
.dvdcss/
.emscripten_cache/
.emulator_console_auth_token
.erlang.cookie
.exercism.json
.fonts/encodings.dir
.fonts/fonts.dir
.fonts/fonts.list
.fonts/fonts.scale
.gem/
.gitkraken/
.glide/
.grails/
.grails_history
.h2.server.properties
.hgignore_global
.hiveminder
.htoprc
.ionic/
.java_history
.jenkins-hpl-map
.kube/
.lldb/
.lshiftvpn/
.lsp4xml/
.neo4j_shell_history
.ngrok/
.ngrok2/
.nix-defexpr/
.nixops/
.node-gyp/
.node_repl_history
.npm/
.openvpn-connect.json
.oracle_jre_usage/
.other/
.packer.d/
.particle/
.pebble/
.pgadmin/
.pgadmin_histoqueries
.pgpass
.platformio/
.plexht/
.plugman/
.psql_history
.pub-cache/
.pylint.d/
.pypirc
.python_history
.rancher/
.rediscli_history
.rnd
.rtm.yml
.rustup/
.rvm/
.spark/
.stack/
.syncplay
.terraform.d/
.titanium/
.todoist-sync/
.tooling/
.tox/
.travis/
.v8flags.*
.vagrant.d/
.virtualenvs
.voltapp/
.vscode/
.workrave/
.xargo/
.yarnrc
.ypp_42
.zoomus/
Applications (Parallels)/
Calibre Library/
Creative Cloud Files/
Documents/
Google Drive/
Pictures/
Public/
Screens/
Sumo/
VirtualBox VMs/
comics/
faro/
games/
garglk.ini
miniconda/
perl5/
random.dat
vpn/
www/
.nix-profile
.quodlibet/current
.quodlibet/feeds
.quodlibet/songs
.quodlibet/queue
.quodlibet/lists/
.quodlibet/playlists/

/src/
