
[user]
	email=palfrey@tevp.net
	name=Tom Parker

[alias]
	ca=commit -a
	co=checkout
	ci=commit
	st=status
	up = pull --rebase

[core]
	excludesfile=~/.gitignore

#@ ~/.gitprivate
[github]
	user = palfrey
